<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
	<link rel="stylesheet" href="style-0.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> <!-- load angular -->
	<script type="text/javascript" src="angular-leaflet-directive.min.js"></script>
	<script src="map.js"></script>
	<script src="errSrc.js"></script>
</head>
	<body data-ng-app="NightLifeMap" data-ng-controller="MainCtrl">
	
	  <%- include partials/header.ejs %>

	  <form id="search" class="vert-centered-container" data-ng-submit="searchYelp()">
		<input type="text" class="vert-centered" placeholder="Where do you want to hang out tonight?" data-ng-model='json.where'>
	  </form>

	 <leaflet center="center" markers="markers" event-broadcast="events" defaults="defaults" id='map'></leaflet>

	</body>
</html>
